.registerFormContainer {
  flex: 1;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexRowCenterGroup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.userInfoFormPaper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  padding: 4px 8px;
  max-width: 400px;
}

.error {
  color: red;
}

.loginDiv {
  border-top: 2px dotted green;
  padding: 24px;
}

.loginBtn {
  width: 300px;
}

@media (max-width: 450px) {
  .registerFormContainer {
    display: block;
  }

  .editFormContainer {
    width: 320px;
    display: block;
  }

  .loginBtn {
    width: 200px;
  }
}

@media (max-width: 400px) {
  .editFormContainer {
    width: 280px;
    display: block;
  }
}

@media (max-width: 350px) {
  .editFormContainer {
    width: 250px;
    display: block;
  }
}
