.appBar {
  background-color: rgb(209, 46, 101) !important;
  height: 80px;
  display: flex;
}

.toolBar {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.wrapperMusicIcon {
  width: 150px;
}

.musicIcon {
  background-color: rgb(237, 226, 226);
  color: rgb(209, 46, 100);
  border-radius: 8px;
}

.searchField {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
  width: 300px;
  height: 50px;
  background-color: rgb(237, 226, 226);
  border-radius: 8px;
}

.wrapperIcons {
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.notificationsIcon {
  color: rgb(237, 226, 226);
  margin-left: 12px;
}

.accountIcon {
  color: rgb(237, 226, 226);
}
