.createNewPostCard {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.profileBtn {
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.createNewPostBtn {
  width: 100%;
}

.createNewPostModal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 450px) {
  .createNewPostModal {
    width: 300px !important;
  }
}