.profilePageContainer {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.wrapsLeftSide {
  width: 65%;
}

.profileInfoCard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 270px;
  padding: 10rem;
  margin: 1rem;
  border: none;
}

.profileInfoContent {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: inherit;
}

.profileHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userImg {
  width: 250px !important;
  height: 250px !important;
}

.editProfileBtn {
  height: 3rem;
}

.personalInfoContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  width: 25rem;
}

.socialInfoContainer {
  display: flex;
  justify-content: space-between;
}

.typographyRow {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

.homePage {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.titleOfPeopleYouMayKnow {
  color: #92a5de;
  text-shadow: 0px 0px 0 #899cd5, 1px 1px 0 #8194cd, 2px 2px 0 #788bc4,
    3px 3px 0 #6f82bb, 4px 4px 0 #677ab3, 5px 5px 0 #5e71aa;
}

.peopleYouMayKnow {
  width: 25rem;
  overflow: auto;
  height: 39vh;
}

.peopleYouMayKnow::-webkit-scrollbar {
  width: 5px;
}

.peopleYouMayKnow::-webkit-scrollbar-thumb {
  background: #92a5de;
}

.wrapsRightSide {
  display: block;
  width: 30%;
}

.containerPostComponents {
  overflow: auto;
  height: 88vh;
}

.containerPostComponents::-webkit-scrollbar {
  width: 0;
}

.titleOfPeopleYouFollow {
  color: #92a5de;
  text-shadow: 0px 0px 0 #899cd5, 1px 1px 0 #8194cd, 2px 2px 0 #788bc4,
    3px 3px 0 #6f82bb, 4px 4px 0 #677ab3, 5px 5px 0 #5e71aa;
}

.peopleYouFollow {
  width: 25rem;
  overflow: auto;
  height: 39vh;
}

.peopleYouFollow::-webkit-scrollbar {
  width: 5px;
}

.peopleYouFollow::-webkit-scrollbar-thumb {
  background: #92a5de;
}

@media (max-width: 1080px) {
  .wrapsLeftSide {
    width: 55%;
  }

  .wrapsRightSide {
    width: 40%;
  }

  .userImg {
    width: 150px !important;
    height: 150px !important;
  }

  .titleOfPeopleYouMayKnow {
    font-size: 18px;
    color: black;
    text-shadow: none;
  }

  .titleOfPeopleYouFollow {
    font-size: 18px;
    color: black;
    text-shadow: none;
  }

  .peopleYouMayKnow {
    height: 38vh;
  }

  .peopleYouFollow {
    height: 38vh;
  }

  .personalInfoContainer {
    display: none;
  }

  .socialInfoContainer {
    width: 200px;
  }

  .userInfo {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .profilePageContainer {
    display: block;
    text-align: center;
  }

  .wrapsLeftSide {
    width: 100%;
  }

  .wrapsRightSide {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .containerPostComponents {
    width: 80%;
    height: 58vh;
  }

  .peopleYouMayKnow {
    display: none;
  }

  .peopleYouFollow {
    display: none;
  }

  .profileInfoCard {
    height: 250px;
    padding: 0;
  }

  .profileInfoContent {
    width: 300px;
    justify-content: space-between;
  }
}

@media (max-width: 450px) {
  .userImg {
    width: 80px !important;
    height: 80px !important;
  }

  .profileHeader {
    font-size: 10px;
  }

  .socialInfoContainer {
    display: none;
  }

  .profileInfoCard {
    height: 100px;
  }

  .profileInfoContent {
    justify-content: center;
  }

}