.profilePageContainer {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.wrapsLeftSide {
  width: 55%;
}

.profileInfoCard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 270px;
  padding: 10rem;
  margin: 1rem;
  border: none;
}

.profileInfoContent {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: inherit;
}

.profileHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userImg {
  width: 250px !important;
  height: 250px !important;
}

.editProfileBtn {
  height: 3rem;
}

.personalInfoContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  width: 25rem;
}

.socialInfoContainer {
  display: flex;
  justify-content: space-between;
}

.typographyRow {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

.homePage {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.sectionTitle {
  color: #000000;
  margin-bottom: 0.7rem;
}

.usersListWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.peopleYouMayKnow {
  width: 25rem;
  overflow: auto;
  height: 39vh;
}

.peopleYouMayKnow::-webkit-scrollbar {
  width: 5px;
}

.peopleYouMayKnow::-webkit-scrollbar-thumb {
  background: #92a5de;
}

.wrapsRightSide {
  display: block;
  width: 40%;
}

.containerPostComponents {
  overflow: auto;
  height: 88vh;
}

.containerPostComponents::-webkit-scrollbar {
  width: 0;
}

.peopleYouFollow {
  width: 25rem;
  overflow: auto;
  height: 39vh;
}

.peopleYouFollow::-webkit-scrollbar {
  width: 5px;
}

.peopleYouFollow::-webkit-scrollbar-thumb {
  background: #92a5de;
}

.followBtns {
  font-size: 10px !important;
  width: 100px;
  height: 50px;
}

@media (max-width: 1300px) {
  .wrapsLeftSide {
    width: 55%;
  }

  .wrapsRightSide {
    width: 40%;
  }

  .userImg {
    width: 150px !important;
    height: 150px !important;
  }

  .sectionTitle {
    font-size: 18px;
    color: black;
  }

  .peopleYouMayKnow {
    height: 38vh;
  }

  .peopleYouFollow {
    height: 38vh;
  }

  .personalInfoContainer {
    display: none;
  }

  .socialInfoContainer {
    width: 200px;
  }

  .userInfo {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .profilePageContainer {
    display: block;
    text-align: center;
  }

  .wrapsLeftSide {
    width: 100%;
  }

  .wrapsRightSide {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .containerPostComponents {
    width: 80%;
    height: 58vh;
  }

  .peopleYouMayKnow {
    display: none;
  }

  .peopleYouFollow {
    display: none;
  }

  .profileInfoCard {
    height: 250px;
    padding: 0;
  }

  .profileInfoContent {
    width: 300px;
    justify-content: space-between;
  }
}

@media (max-width: 450px) {
  .userImg {
    width: 80px !important;
    height: 80px !important;
  }

  .profileHeader {
    font-size: 10px;
  }

  .followBtns {
    width: 80px;
    height: 35px;
  }

  .socialInfoContainer {
    display: none;
  }

  .profileInfoCard {
    padding: 1rem;
    height: 100px;
  }

  .profileInfoContent {
    justify-content: center;
  }
}
