.homePage {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.titleOfPeopleYouMayKnow {
  color: #92a5de;
  text-shadow: 0px 0px 0 #899cd5, 1px 1px 0 #8194cd, 2px 2px 0 #788bc4,
    3px 3px 0 #6f82bb, 4px 4px 0 #677ab3, 5px 5px 0 #5e71aa;
}

.peopleYouMayKnow {
  width: 25%;
  overflow: auto;
  height: 89vh;
}

.peopleYouMayKnow::-webkit-scrollbar {
  width: 5px;
}

.peopleYouMayKnow::-webkit-scrollbar-thumb {
  background: #92a5de;
}

.containerPostComponents {
  width: 35%;
  overflow: auto;
  height: 89vh;
}

.containerPostComponents::-webkit-scrollbar {
  width: 0;
}

.titleOfPeopleYouFollow {
  color: #92a5de;
  text-shadow: 0px 0px 0 #899cd5, 1px 1px 0 #8194cd, 2px 2px 0 #788bc4,
    3px 3px 0 #6f82bb, 4px 4px 0 #677ab3, 5px 5px 0 #5e71aa;
}

.peopleYouFollow {
  width: 25%;
  overflow: auto;
  height: 89vh;
}

.peopleYouFollow::-webkit-scrollbar {
  width: 5px;
}

.peopleYouFollow::-webkit-scrollbar-thumb {
  background: #92a5de;
}

@media (max-width: 1080px) {
  .titleOfPeopleYouMayKnow {
    font-size: 18px;
    color: black;
    text-shadow: none;
  }

  .titleOfPeopleYouFollow {
    font-size: 18px;
    color: black;
    text-shadow: none;
  }
}

@media (max-width: 768px) {
  .homePage {
    justify-content: center;
  }

  .containerPostComponents {
    justify-content: center;
    width: 80%;
  }

  .peopleYouMayKnow {
    display: none;
  }

  .peopleYouFollow {
    display: none;
  }
}
