.homePage {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.sectionTitle {
  color: #000000;
  margin-bottom: 0.7rem;
}

.usersListWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.peopleYouMayKnow {
  width: 25%;
  overflow: auto;
  height: 89vh;
}

.peopleYouMayKnow::-webkit-scrollbar {
  width: 5px;
}

.peopleYouMayKnow::-webkit-scrollbar-thumb {
  background: #92a5de;
}

.containerPostComponents {
  width: 35%;
  overflow: auto;
  height: 89vh;
}

.containerPostComponents::-webkit-scrollbar {
  width: 0;
}

.peopleYouFollow {
  width: 25%;
  overflow: auto;
  height: 89vh;
}

.peopleYouFollow::-webkit-scrollbar {
  width: 5px;
}

.peopleYouFollow::-webkit-scrollbar-thumb {
  background: #92a5de;
}

@media (max-width: 1080px) {
  .sectionTitle {
    font-size: 18px;
    color: black;
  }
}

@media (max-width: 768px) {
  .homePage {
    justify-content: center;
  }

  .containerPostComponents {
    justify-content: center;
    width: 80%;
  }

  .peopleYouMayKnow {
    display: none;
  }

  .peopleYouFollow {
    display: none;
  }
}
