.formContainer {
  flex: 1;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formPaper {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.error {
  color: red;
}

.createAccountBtnWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px dotted;
  padding-top: 24px;
}
