.profileBtn {
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.threePoints {
  width: 79px;
  text-align: end;
}

.footerIndecators {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  border-bottom: 1px dotted black;
  font-size: 12px;
  font-weight: 600;
}

.actionsContainer {
  display: flex;
  justify-content: space-around;
}