.registrationFormContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexRowCenterGroup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.registrationFormPaper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  padding: 4px 8px;
}

.loginBtn {
  border-top: 2px dotted green;
  padding: 24px;
}
