.connection {
    flex: 1;
    /* border: solid green 2px; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.names {
    /* border: solid red 2px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputs {
    /* border: solid blue 2px; */
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.connect {
    border-top: 2px dotted green;
    padding-top: 24px;
    margin: 24px 0;
}

.dateOfBirthAndGender {
    display: flex;
    justify-content: center;
    align-items: center;
}