.connection{
    flex: 1;
    /* border: solid green 2px; */
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.names{
    display: flex;
    justify-content: space-between;
}

.inputs{
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.createAccount{
    border-top: 2px dotted green;
    padding-top: 24px;
}