.registerFormContainer {
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexRowCenterGroup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.userInfoFormPaper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  padding: 4px 8px;
}

.error {
  color: red;
}

.loginBtn {
  border-top: 2px dotted green;
  padding: 24px;
}
